<div *ngIf="!firstName; else reginfo">
  <form [formGroup]="vaccineForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div class="grid-1">
        <div class="header">
          <h4>Vaccination Registration Form</h4>
        </div>
        <div class="form-floating">
          <input
            class="form-control"
            type="text"
            placeholder="First name"
            id="floatingTextarea"
            formControlName="firstName"
            required
            minlength="4"
          />
          <div *ngIf="firstName.errors?.['minlength']"></div>
        </div>
        <br />

        <div class="form-floating">
          <input
            class="form-control"
            type="text"
            placeholder="Last name"
            id="floatingTextarea"
            formControlName="surName"
            minlength="4"
            required
          />
          <div *ngIf="surName.errors?.['minlength']"></div>
        </div>
        <br />

        <div class="form-floating">
          <input
            class="form-control"
            type="email"
            placeholder="email"
            id="floatingTextarea"
            formControlName="eMail"
            required
          />
        </div>
        <br />

        <div class="form-floating">
          <input
            class="form-control"
            type="tel"
            placeholder="Phone Number"
            id="floatingTextarea"
            formControlName="phoneNumber"
            required
            maxlength="12"
          />
        </div>
        <br />
        <div class="form-floating mb-3">
          <label for="floatingInput">D.O.B(Date Of Birth)</label>
          <input
            class="form-control"
            id="floatingInput"
            type="date"
            placeholder="Date of birth"
            formControlName="birthDay"
            required
          />
        </div>
        <br />
        <div class="col-12" style="text-align:center">
          <input
            type="submit"
            class="btn btn-primary mb-3"
            value="Submit form"
            [disabled]="!vaccineForm.valid"
          />
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #reginfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ firstName }}</h1>
    </div>
  </div>
</ng-template>
